/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: black;
  color: white;
}
.link {
  padding: 10px;
}


/* Footer */
footer {
  padding: 20px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column; /* Cambia de fila a columna por defecto */
  align-items: center;
  justify-content: space-between;
}
.center {
  text-align: center;
  width: 100%;
}
.right {
  text-align: center;
  margin-top: 10px;
}
.left, .center, .right {
  display: inline-block;
  vertical-align: middle;
}
.center a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.right p {
  margin: 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  .center a {
    margin: 10px 0;
  }
  .right p {
    font-size: 12px;
    margin-top: 10px;
  }
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
}
.logo {
  font-size: 1.8rem;
  color: white;
  margin-right: 1rem;
}
.navbar-nav {
  display: flex;
  gap: 1.5rem;
}
.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
.navbar-nav .nav-item .nav-link:hover {
  color: gray;
}
@media (max-width: 991px) {
  .navbar-nav {
      flex-direction: column;
      gap: 1rem;
  }
  .navbar-collapse {
      width: 100%;
  }
  .navbar-toggler {
      border: none;
  }
  .logo {
      font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .logo {
      font-size: 1.4rem;
  }
  .navbar-nav .nav-item .nav-link {
      font-size: 1rem;
  }
}



/* Carousel */
.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .carousel-item img {
      height: 250px;
  }
  .carousel-caption {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      text-align: center;
      color: white;
      z-index: 2;
      background: rgba(0, 0, 0, 0.5); 
      padding: 10px;
  }
  .carousel-caption h5 {
      font-size: 1.5rem;
  }
  .carousel-caption p {
      font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .carousel-caption {
      bottom: 40px;
      left: 20px;
      text-align: left;
      z-index: 2;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px;
  }
  .carousel-caption h5 {
      font-size: 2.5rem;
  }
  .carousel-caption p {
      font-size: 1.5rem;
  }
}
.carousel-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}



/* fotos */
.fotos-container {
  display: flex;
  justify-content: space-between; /* Distribuye las fotos con espacio entre ellas */
}

.fotos-container img {
  width: 23%; /* Ajusta el tamaño de las fotos para que quepan en la fila */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover;
}
.links-to-page {
  text-decoration-line: none;
}

